/* font */
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@700;800&family=Poppins:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  --title: "Catamaran", sans-serif;
  --paragraph: "Poppins", sans-serif;
  --placeholder: "Inter", sans-serif;
  /* colors */
  --primary-color: #3757d5;
  --secondary-color: #6f7d94;
  --title-color: rgb(31, 62, 114);
  --sub-title-color: rgb(44, 85, 155);

  --btn-active: var(--primary-color);
  --btn-inactive: rgb(241, 245, 255);

  --footer-bg: #eef3ff;
}

h1,
h2,
h3,
.title {
  font-family: var(--title);
  color: var(--title-color);
  text-wrap: balance;
}

p {
  font-family: var(--paragraph);
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 1rem;
}

.container {
  width: 100%;
  margin-inline: auto;
  padding-inline: 2rem;
}

.layout {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.title {
  font-size: 4rem;
  line-height: 1.1;
  font-weight: 800;
}

.sub-title {
  font-size: 2.2rem;
  font-weight: 800;
  text-wrap: balance;
}

.text-description {
  margin-top: 1.2rem;
  line-height: 1.8;
}

.container__spacing {
  padding-bottom: 3rem;
  margin-bottom: 4rem;
}

.padding--left {
  padding-left: 0;
}

.padding--right {
  padding-right: 0;
}

/* header / nav */
.header {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(230, 244, 252, 1) 51%
  );
  margin-bottom: 0.2em;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem;
}

.logo__name {
  font-family: var(--title);
  font-weight: 700;
  color: var(--primary-color);
}

.header__actions {
  display: flex;
  align-items: center;
  gap: 4.6rem;
}

.header__nav {
  display: flex;
  gap: 4rem;
}

.nav__item {
  font-size: 1rem;
  font-family: var(--paragraph);
  font-weight: 500;
  color: var(--secondary-color);
  transition: all 0.3s ease 0s;

  &:hover {
    color: #3757d5;
  }
}

.header__btn {
  display: flex;
  justify-content: center;
}

.btn {
  padding: 20px 20px;
  font-family: var(--placeholder);
  background-color: var(--btn-inactive);
  border-radius: 0.3rem;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: var(--primary-color);
  font-weight: 500;

  &.active {
    background-color: var(--btn-active);
    box-shadow: -4px 24px 21px -19px rgba(55, 55, 213, 0.49);
    color: white;
  }
}

/* Section / Hero Content */
.hero {
  position: relative;
}

.hero__content {
  padding: 8em 0;
  margin-top: 3px;
}

.items {
  display: flex;
  margin-top: 4rem;
  justify-content: flex-start;
}

.item {
  color: var(--description-color);
  font-size: 1rem;
  display: flex;
  font-weight: 700;
  margin-right: 1.5rem;
}

.item .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  width: 28px;
  height: 23px;
  margin-right: 1rem;
  border: 0.5px solid white;
  border-radius: 2px;
  background: rgb(255, 208, 18);
  background: linear-gradient(
    0deg,
    rgba(255, 208, 18, 0.196516106442577) 0%,
    rgba(255, 249, 224, 0.30015756302521013) 83%
  );
  box-shadow: 0px 5px 6px -4px rgba(255, 208, 18, 0.51);
}

/* Section / Image */

.hero__image {
  background:
    url(../assets/img/vaccineBg.png) bottom / cover no-repeat,
    linear-gradient(to left, #1f6fbf, #3aa0f3);
  min-height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Form - Floating */
.vaccination-scheduler {
  position: absolute;
  z-index: 1;
  top: 600px;
  width: 75%;
}

.form-group {
  width: 100%;
}

/* title form */

.scheduler__header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

/* form */
.vaccination-form {
  display: flex;
  align-items: center;
  gap: 2rem;
  border-radius: 10px;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: -45px 32px 70px -40px rgba(0, 0, 0, 0.5);
}

.label-title {
  display: flex;
  align-items: center;
  font-family: var(--paragraph);
  color: var(--secondary-color);
  font-size: 1.1rem;
}

.form-control {
  margin-top: 0.6rem;
}

::placeholder {
  font-family: var(--placeholder);
  font-size: 1.2rem;
  text-align: center;
  font-weight: 700;
  color: var(--title-color);
}

/* Badge for Icons */
.icon-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  width: 26px;
  height: 26px;
  margin-right: 1rem;
  border: 0.5px solid white;
  border-radius: 5px;
  background: rgb(223, 231, 255);
  background: linear-gradient(
    0deg,
    rgba(223, 231, 255, 1) 0%,
    rgba(223, 231, 255, 0.6643032212885154) 100%
  );
}

/* Section / Logos */
.logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: clamp(2rem, 5vw, 4rem);
}

.logos__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
}

.logos__item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.logo--align {
  object-position: 0px -6px;
}

.logo--muted {
  filter: grayscale(1) opacity(16%);
}

/* Section / Benefit's  */
.benefits__inner {
  width: 100%;
  line-height: 1.4;
  margin-bottom: 3rem;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  gap: 2rem;
}

.card-element {
  width: 100%;
  max-height: 500px;
  border: 1px solid whitesmoke;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  padding: 2rem;
}

/* Card / Content */
.icon__bg {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  width: 50px;
  min-height: 50px;
  margin-bottom: 1.25em;
  border: 1px solid white;
  border-radius: 10px;
  background: rgb(223, 231, 255);
  background: linear-gradient(
    0deg,
    rgba(223, 231, 255, 1) 0%,
    rgba(223, 231, 255, 0.6643032212885154) 100%
  );
}

.card__title {
  font-family: var(--paragraph);
  color: var(--sub-title-color);
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.card__description {
  font-size: 0.8rem;
  line-height: 1.7;
  text-wrap: balance;
}

.icon--active {
  box-shadow: 0px 9px 5px -2px rgba(223, 231, 255, 1);
}

/* Section / Preparations */
.preparations__image {
  background:
    url(../assets/img/vaccine2.png) bottom / 180% no-repeat,
    linear-gradient(to left, #1f6fbf, #3aa0f3) bottom / 100% 60% no-repeat;
  min-height: 720px;
}

.container__content {
  margin-top: 1em;
  padding-bottom: 4em;
}

/* Card Content / Inner */

.list__element {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgb(247, 246, 246, 0.5);
  border-radius: 10px;
  margin-bottom: 1.8em;
  padding: 0.6rem 1rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.icon-title__container {
  display: flex;
  align-items: center;
}

/* Modal / Inner */
.modal {
  padding: 0.6rem 1rem;
  border-radius: 10px;
  margin-bottom: 1.8em;
}

.list__element--modal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.8em;
}

.description--modal {
  line-height: 1.5;
  padding: 0.6rem 3rem;
}

.card__title--modal-title {
  font-size: 0.875rem;
  margin-bottom: 0;
}

.card--active {
  box-shadow: 0px 20px 20px -10px rgba(223, 231, 255, 1);
}

.small-text {
  font-size: 0.7rem;
}

/* Badge design featuring arrow icons */
.bxs-down-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  width: 20px;
  height: 20px;
  border: 0.1px solid white;
  border-radius: 5px;
  background: rgb(223, 231, 255);
  background: linear-gradient(
    0deg,
    rgba(223, 231, 255, 1) 0%,
    rgba(223, 231, 255, 0.6643032212885154) 100%
  );
}

.bxs-up-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  width: 20px;
  height: 20px;
  border: 0.1px solid white;
  border-radius: 5px;
  background: rgb(223, 231, 255);
  background: linear-gradient(
    0deg,
    rgba(223, 231, 255, 1) 0%,
    rgba(223, 231, 255, 0.6643032212885154) 100%
  );
}

/* Section / Emergency Contact */
.container__cards--grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.emergency__card {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  border: 1px solid whitesmoke;
}

.item__inner {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 1rem;
}

.margin--inherit {
  margin: 0;
}

.emergency__image {
  background:
    url(../assets/img/vaccine3.png) bottom / 180% no-repeat,
    linear-gradient(to left, #1f6fbf, #3aa0f3) bottom / 100% 60% no-repeat;
  min-height: 720px;
}

/* Footer */
.footer__bg {
  background-color: var(--footer-bg);
}

.footer {
  margin-top: 3em;
  min-height: 260px;
}

.footer__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 6rem;
}

.padding__text--right {
  padding-right: 16rem;
}

ul > li {
  font-family: var(--placeholder);
  font-size: 0.875rem;
  line-height: 2.5;
  color: var(--secondary-color);
  font-weight: 500;
}

.reserved {
  font-family: var(--paragraph);
  color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
}

/* En Laptops (más de 1200px de pantalla) */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px; /* Estándar clásico */
  }
}
